* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: cursive;
  background-color: rgb(5, 15, 113);
}

main {
  padding: 20px;
  margin: 35px 193px 45px 193px;
  background-color: rgb(137, 137, 238);
  border-radius: 50px;
}

h1 {
  font-size: 46px;
  text-align: center;
  color: navajowhite;
}

.position-ranks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}

.user-ranks {
  background-color: rgb(74, 15, 14);
}

.rank {
  text-align: center;
}

.second-grade {
  color: rgb(138, 138, 138);
}

.first-grade {
  color: rgb(245, 170, 50);
}

.third-grade {
  color: rgb(199, 120, 72);
}

.fa-user {
  color: azure;
}

.recent-score {
  display: flex;
  margin-bottom: 40px;
}

.recent-score h2 {
  font-size: 35px;
  color: navajowhite;
}

.refresh-btn {
  margin-left: 49px;
  font-size: 22px;
  padding: 9px;
  border-radius: 12px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.refresh-btn:hover {
  background-color: yellow;
}

.scorelist {
  list-style-type: none;
  border: 3px solid white;
  border-radius: 13px;
  overflow-y: auto;
  max-height: 245px;
}

.score {
  padding: 5px 5px;
  font-weight: bold;
}

.score:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.288);
}

.main-section {
  display: flex;
  justify-content: space-around;
  margin: 120px 4px 65px 4px;
}

.formdata {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

input {
  padding: 10px;
  border-radius: 13px;
}

.input-score h2 {
  font-size: 35px;
  margin-bottom: 40px;
  color: navajowhite;
}

.add-btn {
  display: flex;
  align-self: flex-end;
  font-size: 22px;
  background-color: white;
  border-radius: 12px;
  padding: 9px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.add-btn:hover {
  background-color: yellow;
}
